<%= form_with scope: :quote, url: quotes_path, local: true do |form| %>

<section>
    <div class="container">
        <div class="blog-post-item">
            <h1>Request a Quote:</h1>
            <form id="myForm" enctype="multipart/form-data">

                
                <fieldset>
                    <!-- <input type="hidden" name="action" value="contact_send" /> -->
                    <div class="row">

                    <div class="col-md-6" id="company">
                        <label for="company" >Company Name</label>
                        <input value="" class="form-control" name="company" id="company" style="font-size:100%">
                    </div>

                    <div class="col-md-6" id="email">
                        <label for="email" >Email</label>
                        <input value="" class="form-control" name="email" id="email" style="font-size:100%">
                    </div>
                    
                        <div class="col-md-12">
                            <label for="building-type">Building Type</label>
                            <select class="form-control pointer" name="building-type" id="building-type" style="font-size:100%">
                                            <option value="">---Select---</option>
                                            <option  id="residential" value="residential" >Residential</option>
                                            <option  id="commercial" value="commercial">Commercial</option>
                                            <option  id="corporate" value="corporate">Corporate</option>
                                            <option  id="hybrid" value="hybrid">Hybrid</option>
                            </select>
                        </div>
                    </div>


                    <!--1-->
                    <div class="col-md-4" id="number-of-apartments" style="display:none">
                        <label for="number-of-apartments-input" >The number of apartments <br/> in the building</label>
                        <input  type="number" min="0" value="" class="form-control" name="number-of-apartments-input" id="number-of-apartments-input" style="font-size:100%">
                    </div>
                    <!--2-->
                    <div class="col-md-4" id="number-of-floors" style="display:none">
                        <label for="number-of-floors-input">The number of floors contained in the building, excluding basements</label>
                        <input  type="number" min="0" value="" class="form-control" name="number-of-floors-input" id="number-of-floors-input" style="font-size:100%">
                    </div>
                    <!--3-->
                    <div class="col-md-4" id="number-of-basements" style="display:none">
                        <label for="number-of-basements-input">The number of basements contained in the building</label>
                        <input  type="number" min="0" value="" class="form-control" name="number-of-basements-input" id="number-of-basements-input" style="font-size:100%">
                    </div>

                    <!--4-->
                    <div class="col-md-4" id="number-of-companies" style="display:none">
                        <label for="number-of-companies-iput">The number of <br/> distinct businesses.</label>
                        <input  type="number" min="0" value="" class="form-control" name="number-of-companies-iput" id="number-of-companies-iput" style="font-size:100%">
                    </div>

                    <!--5-->
                    <div class="col-md-6" id="number-of-parking-spots" style="display:none">
                        <label for="number-of-parking-spot-input">The number of parking space <br> available</label>
                        <input  type="number" min="0" value="" class="form-control" name="number-of-parking-spots-input" id="number-of-parking-spot-input" style="font-size:100%">
                    </div>

                    <!--6-->
                    <div class="col-md-4" id="number-of-elevators" style="display:none">
                        <label for="number-of-elevators-input">The number of elevator cages <br> to be deployed</label>
                        <input  type="number" min="0" value="" class="form-control" name="number-of-elevators-input" id="number-of-elevators-input" style="font-size:100%">
                    </div>

                    <!--7-->
                    <div class="col-md-3" id="number-of-corporations" style="display:none">
                        <label for="number-of-corporations-input">The number of separate tenant companies</label>
                        <input  type="number" min="0" value="" class="form-control" name="number-of-corporations-input" id="number-of-corporations-input" style="font-size:100%">
                    </div>

                    <!--8-->
                    <div class="col-md-3" id="maximum-occupancy" style="display:none">
                        <label for="maximum-occupancy-input">The maximum number of occupants per floor</label>
                        <input  type="number" min="0" value="" class="form-control" name="maximum-occupancy-input" id="maximum-occupancy-input" style="font-size:100%">
                    </div>

                    <!--9-->
                    <div class="col-md-4" id="business-hours" style="display:none">
                        <label for="business-hours-input">The number of hours of activity of the building (the maximum being 24)</label>
                        <input  type="number" min="0" max="24" value="" class="form-control" name="business-hours-input" id="business-hours-input" style="font-size:100%">
                    </div>


                </fieldset>
            </form>


        </div>


        <div class="btn-group-lg" role="group" id="products" aria-label="Basic radio toggle button group" style="position:relative; left:300px">
            <input type="radio" class="btn-check" name="product" value="standard" id="standard">
            <label class="btn btn-outline-danger" for="standard">Standard</label> &nbsp;

            <input type="radio" class="btn-check" name="product" value="premium" id="premium">
            <label class="btn btn-outline-danger" for="premium">Premium</label> &nbsp;

            <input type="radio" class="btn-check" name="product" value="excelium" id="excelium">
            <label class="btn btn-outline-danger" for="excelium">Excelium</label>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <label for="elevator-amount">N. of Elevators needed</label>
                <input type="text" class="" name="elevator-amount" id="elevator-amount" style="font-size:100%" readonly>
            </div>

            <div class="col-md-3">
                <label for="elevator-unit-price">The unit price of each elevator</label>
                <input type="text" class="" name="elevator-unit-price" id="elevator-unit-price" style="font-size:100%" readonly>
            </div>
            <div class="col-md-3">
                <label for="elevator-total-price">The total price of the elevators</label>
                <input type="text" class="" name="elevator-total-price" id="elevator-total-price" style="font-size:100%" readonly>
            </div>
            <div class="col-md-3">
                <label for="installation-fees">The installation fees</label>
                <input type="text" class="" name="installation-fees" id="installation-fees" style="font-size:100%" readonly>
            </div>
        </div>
        <hr>
        <div class="row" style="justify-content: center">
            <div class="col-md-4">
                <label for="final-price"><strong>The final price</strong></label>
                <input type="text" class="" name="final-price" id="final-price" style="font-size:100%" readonly>
            </div>
            
        </div>
        <br><div class="row" style="justify-content: center">
            <div class="col-md-3">
                 <%= form.submit %>
            </div>
        </div>
    </div>
</section>

 
<% end %>
